@use 'form';

.form-builder{

  background-color: #fff;
  border: 1px solid #EEEEEE;
  padding: 20px;
  display: flex;

  .error{
    color: #de4545;
    font-size: 0.8em;
  }

  .fields-wrap{
    flex: 1;
  }

  .fields-list{
    flex: 1;
  }

  .field-compose-wrap{
    border: 1px solid #e9ecef;
    margin-top: 20px;
    padding: 20px;
    max-width: 500px;
  }


}

.frontendFormWrap{

}