#page-main{
  a{
    color: #276FB0;
    text-decoration: none;
  }

  button, select{
    background-color: #F5F6F8;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    padding: 10px 15px;
  }

  .button-primary{
    background-color: #F06437;
    border: 1px solid #e0572b;
    color: #ffffff;
    border-radius: 2px;
    padding: 10px 15px;
  }

  .search-input-group{
    display: flex;
    align-items: stretch;

    input, button{
      border: 1px solid #DFDFDF;
      line-height: 40px;
      padding: 0 10px;
      border-radius: 0;
    }

    button{
      margin-left: -1px;
    }
  }

  .app-wrap{
    padding: 20px;
    border: 1px solid #dddddd;
    p{
      margin: 0;
    }

    .flows-filter-wrap{
      display: flex;
      align-items: center;

      .flows-active-text-wrap{
        flex: 1;
      }
    }

    .table-action-wrap {
      display: flex;
      align-items: center;
      margin: 10px 0;

      .action-dropdown-wrap {
        display: flex;
        column-gap: 10px;
        flex: 1;
      }
    }

    .list-header{
      display: flex;
      margin: 0;
      margin-bottom: 20px;
      align-items: center;

      h2{
        margin: 0;
      }

      button{
        margin-left: 10px;
      }
    }

    table{
      width: 100%;
      text-align: left;
      border: 1px solid #DFDFDF;

      thead{
        background-color: #F5F6F8;
      }

      tr{
        border-top: 1px solid #DFDFDF;

        th{
          padding: 10px 15px;
        }
        th:last-child, td:last-child{
          text-align: right;
        }

        td{
          padding: 10px 15px;

          &.status-col{
            color: #62727e;
            font-size: 0.8em;
          }

          .action-divider{
            padding: 0 5px;
            color: #384556;
          }
        }
      }
    }

  }

  .nodata-jumbotron{
    border: 1px solid #DFDFDF;
    color: #62727e;
    padding: 20px;
    text-align: center;
  }

  .pagination{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pagination-info {
      color: #686f89;
    }

    button{
      margin-left: -1px;
      border-radius: 0;
      padding: 7px 12px;
      color: #565b77;

      &.active{
        background-color: #565b77;
        border: 1px solid #565b77;
        color: #ffffff;
      }
    }
  }

}