#page-main{
  .button-primary{
    background-color: #F06437;
    border: 1px solid #e0572b;
    color: #ffffff;
    border-radius: 2px;
    padding: 10px 15px;
  }


  .app-wrap{
    padding: 20px;
    border: 1px solid #dddddd;
    p{
      margin: 0;
    }

    .list-header{
      display: flex;
      margin: 0;
      margin-bottom: 20px;
      align-items: center;

      h2{
        margin: 0;
      }

      button{
        margin-left: 10px;
      }
    }

    table{
      width: 100%;
      text-align: left;
      border: 1px solid #DFDFDF;

      thead{
        background-color: #F5F6F8;
      }

      tr{
        border-top: 1px solid #DFDFDF;

        th{
          padding: 10px 20px;
        }
        th:last-child, td:last-child{
          text-align: right;
        }

        td{
          padding: 15px 20px;

          &.status-col{
            color: #62727e;
            font-size: 0.8em;
          }
        }
      }
    }

  }
}